* {
  margin: 0;
  padding: 0;
  font-family: var(--menu-font-family);
}

html {
  --background-color: rgb(255, 255, 255);
  --clock-board-color: rgb(237, 237, 237);
  --clock-graduation-color: rgb(146, 147, 148);
  --clock-hand-color: rgb(52, 52, 53);
  --clock-second-hand-color: rgb(203, 1, 1);
  --clock-progress-color: rgb(209, 215, 220);
  --mouse-click-color: rgb(200, 200, 200);
  --menu-font-family: "宋体";
}